/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/**** text ****/

h1{
  color:#00178C;
  font-family: 'roller_girfreepersonalusedemo';
  font-size: 2.5rem;
  text-align: center;
}

h2{
  color:#00178C;
  font-family: 'roller_girfreepersonalusedemo';
  font-size: 2rem;
  text-align: left;
}

h3{
  color:#00178C;
  font-family: 'roller_girfreepersonalusedemo';
  font-size: 1.5rem;
  text-align: left;
}

.h3om{
  
}

body{
  background-color: #FFE3F3;
  line-height: 1.5;
  margin: 1rem;
}

p{
  color:#00178C;
  text-align: left;
  font-family: 'Martel Sans', sans-serif;
}

ul li{
  color:#00178C;
  text-align: left;
  font-family: 'Martel Sans', sans-serif;
  margin-bottom: 1rem;
}

.ppink{
  color:#FFE3F3;
}

.pporto{
  color: #FFE3F3;
  font-family: 'roller_girfreepersonalusedemo';
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 1rem;
}

.pom{
  color: #00178C;
  font-family: 'roller_girfreepersonalusedemo';
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 1rem;
}

.pport {
  text-align: center;
  font-size: 1.1rem;
}


.h3pink{
  color:#FFE3F3;
}


/*** Forside ***/
.forsideh1{
  display: block;
  font-family: 'roller_girfreepersonalusedemo';
  font-size: 4rem;
  text-align: center;
  color:#00178C;
}

.forsideh2{
  color:#00178C;
  font-family: 'roller_girfreepersonalusedemo';
  font-size: 3.5rem;
  text-align: center;
}

/*** Portfolie ***/
.bluebox {
  background-color: #00178c;
  padding: 2rem;
  margin-top: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.imgporto{
  margin-bottom:1rem;
}

.imgskitse{
  height:90%;
}

.imgaktiv{
  height:90%;
}

/*** Logo ***/
.logo{
  display:grid;
}

@media (min-width:800px){
.bluebox {
  background-color: #00178c;
  padding: 5rem;
  margin:2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.imgporto{
  margin-bottom:1rem;
}

.styleemne{
  height:89%;
}

.imglink{
 transition: 1s;
}

.imglink img:hover{
width: 107%;
}

.imgsoeg{
  width: auto;
}
}