/*** Fonts ***/

@font-face {
    font-family: 'roller_girfreepersonalusedemo';
    src: url('fonts/rollergirl-freepersonalusedemo-webfont.woff2') format('woff2'),
         url('fonts/rollergirl-freepersonalusedemo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/**** Forside ****/
/*.forsideimg {
  
}*/
#forside_container {
  aspect-ratio: 1/1;
   width: 50%;
  height: auto;
display: block;
margin:auto;
  background-image: url("imgs/forsideimg-8.png");
  background-size: 100%;
  background-repeat: no-repeat;
  align-items: center;
}

.drej {
  animation-name: drej_kf;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
  transform-origin:center;
}

@keyframes drej_kf {
  0% {
    rotate: 360deg;
  }
}
/**** Grids ****/
.grid1_1_1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:20px;
  margin: 10px 0;
}

.grid1_1_1_1_1{
  display: flex;
  flex-direction: row;
  align-items: center;
}
/*** Portfolie ***/
.tema{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:1rem;
  margin-bottom: 1rem;
}
.hide1{
    display:none;
}

.order{
  order: 1;
}

@media(max-width:800px){
  .forsideimg{
    height:100%;
    width:auto;
  }

  .hide{
        display: none;
     }

  .fh1{
    padding-top: 3rem;
  }
}


